name: Build

on: [pull_request]

env:
  QUARKUS_CXF_MTOM_LARGE_ATTACHMENT_INCREMENT_KB: 512
  JAVA_VERSION: 17

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build-and-run-jvm-tests:
    if: startsWith(github.head_ref, 'trigger-release-') == false
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache local Maven repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: build-and-run-jvm-tests
      uses: ./.github/actions/build-and-run-jvm-tests
      with:
        java-version: ${{ env.JAVA_VERSION }}

  native-tests:
    strategy:
      fail-fast: false
      matrix:
        testModule: ['client', 'client-server', 'fastinfoset', 'hc5', 'metrics', 'mtls', 'mtls -Djks', 'mtom', 'mtom-awt', 'opentelemetry', 'saaj', 'santuario-xmlsec', 'server', 'ws-rm-client', 'ws-security', 'ws-security -Djks', 'ws-security-policy', 'ws-security-policy -Djks', 'ws-trust', 'wsdl2java', 'wsdl2java-no-config']
    name: ${{matrix.testModule}} native tests
    needs: build-and-run-jvm-tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: run-native-test
      uses: ./.github/actions/run-native-test
      with:
        java-version: ${{ env.JAVA_VERSION }}
        test-module-spec: ${{matrix.testModule}}

  windows-tests:
    name: Windows tests
    needs: build-and-run-jvm-tests
    runs-on: windows-latest
    steps:

    - uses: actions/checkout@v4

    - name: Set up JDK ${{ env.JAVA_VERSION }}
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: ${{ env.JAVA_VERSION }}

    - name: Download Maven Repo
      uses: actions/download-artifact@v4
      with:
        name: maven-repo
        path: ..
    - name: Extract Maven Repo
      shell: bash
      run: |
        tar -xzf ../maven-repo.tgz -C ~

    - name: mvn test
      shell: bash
      run: |
        ./mvnw -B test \
          -Dskip-testcontainers-tests \
          -Dformat.skip \
          -Denforcer.skip \
          -pl '!:quarkus-cxf-docs,!:quarkus-cxf-test-ws-rm-server-native' \
          -ntp \
          -fae

    # Same as the previous but different default ConduitFactory
    - name: QUARKUS_CXF_DEFAULT_HTTP_CONDUIT_FACTORY=URLConnectionHTTPConduitFactory mvn test
      env: 
        QUARKUS_CXF_DEFAULT_HTTP_CONDUIT_FACTORY: URLConnectionHTTPConduitFactory
      shell: bash
      run: |
        ./mvnw -B clean test \
          -Dskip-testcontainers-tests \
          -Dformat.skip \
          -Denforcer.skip \
          -pl '!:quarkus-cxf-docs,!:quarkus-cxf-test-ws-rm-server-native' \
          -ntp \
          -fae
