name: Quarkiverse Perform Release
run-name: Perform ${{github.event.inputs.tag || github.ref_name}} Release
on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to release'
        required: true

permissions:
  attestations: write
  id-token: write
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  perform-release:
    name: Perform Release
    uses: quarkiverse/.github/.github/workflows/perform-release.yml@main
    secrets: inherit
    with:
      version: ${{github.event.inputs.tag || github.ref_name}}
      java_version: 17

  await-release-on-central:
    needs: perform-release
    runs-on: ubuntu-latest
    name: Await artifacts on Maven Central
    steps:
      - name: Change ${{github.event.inputs.tag || github.ref_name}} release notes
        run: gh release edit ${{github.event.inputs.tag || github.ref_name}} -n "https://docs.quarkiverse.io/quarkus-cxf/dev/release-notes/${{github.event.inputs.tag || github.ref_name}}.html"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4
        with:
          ref: ${{github.event.inputs.tag || github.ref_name}}

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: 'maven'

      - name: Disable native build in test-util-parent/test-ws-rm-server-native/pom.xml
        shell: bash
        run: sed -i 's|<name>performRelease</name>|<name>performRelease-disabled</name>|' test-util-parent/test-ws-rm-server-native/pom.xml
        
      - name: mvn install -DperformRelease
        shell: bash
        run: ./mvnw -B install -DperformRelease -Dmaven.javadoc.skip -Dmaven.source.skip -ntp

      - name: Await ${{github.event.inputs.tag || github.ref_name}} on Maven Central
        run: |
          ./mvnw org.l2x6.cq:cq-maven-plugin:4.14.2:await-release -Dcq.version=${{github.event.inputs.tag || github.ref_name}} -N

